/****************************/
/* CODESMASH DEVELOPER TEAM */
/****************************/
@font-face {
    font-family: 'dtac2017';
    src: url('fonts/dtac2017_rg-webfont.eot');
    src: local('dtac2017_rg-webfont'),  url('../fonts/dtac2017_rg-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/dtac2017_rg-webfont.woff') format('woff'), 
        url('../fonts/dtac2017_rg-webfont.ttf') format('truetype'), 
        url('../fonts/dtac2017_rg-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'dtac2017b';
    src: url('fonts/dtac2017_bd-webfont.eot');
    src: local('dtac2017_bd-webfont'),  url('../fonts/dtac2017_bd-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/dtac2017_bd-webfont.woff') format('woff'), 
        url('../fonts/dtac2017_bd-webfont.ttf') format('truetype'), 
        url('../fonts/dtac2017_bd-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #efeef3;
	font-family:'dtac2017';
}
body {
    padding-bottom: 80px ;
}
h1,
h2,
h3,
h4,
h5,
h6,
b,
strong{
	font-family:'dtac2017b';
}

.txt-title h6{
	font-family:'dtac2017';
	color:#707070;
	padding:10px 0;
}
#gift-list-redeemable > .row,
#gift-list-redeemed > .row{
	background-color:#fff;
	border-top:1px solid #bfbfbf;
}
.giftlist-padding{
	padding-top:10px;
}
.giftlist-padding span{
	color:#9d9d9d;
	font-size:0.7em;
}
#gift-list .redeemabled{
	background-color:#19aae3;
	border-radius:2em;
	color:#fff;
	padding:10px;
}
#gift-list .reedeemed{
	background-color:#9a9a9a;
	border-radius:2em;
	color:#fff;
	padding:10px;
}

#gift-detail {
	margin:15px auto;
}
#gift-detail .container{
	background-color:#fff;
	border-radius:3px;
}
#gift-detail #gift-detail-title {
	margin-top:15px;
}
#gift-detail #gift-detail-subtitle {
	color:#9d9d9d;
	margin:0;
}
#gift-detail #gift-detail-redeem-btn a{ 
	background-color:#19aae3;
	border-radius:2em;
	color:#fff;
	padding:10px;
	display:block;
	text-align:center;
}
#gift-detail #gift-detail-description,
#gift-detail #gift-detail-terms {
	padding-top:15px;
}
#gift-detail #gift-detail-terms {
	padding-bottom:15px;
}








/* LOADING */
#loading {
	position: fixed;
    padding-top: 20%;
    width: 100%;

}


#back-to-spin {
	background-color:#19AAF8;
	position:fixed;
	bottom:0;
	padding:10px 0;
	width:100%;
}
#back-to-spin a.the-blues{
	display:block;
	color:#fff;
}
#back-to-spin a.the-blues:hover{
	text-decoration:none;
}